html {
  font-family: sans-serif;
}

.grid {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  border: 1px solid black;
  background-color: rgb(104, 167, 223);
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 40px;

}

button {
  font-size: 30px;
  align-self: center;
  background: linear-gradient(to bottom right, rgb(30, 59, 225), rgb(54, 183, 192));
  padding: 10px;
  font-family: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to bottom right, rgb(133, 133, 210), rgb(236, 174, 108));
  margin: 0;
  padding: 0;
  height: 100vh;
}